<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <nav class="nav">
        <div class="nav__left">
            <a class="nav__logo" href="index.html">
                <img class="nav__image" src="../static/image/logo.svg" alt="LostGameShop">
            </a>
        </div>

        <div class="nav__right">
            <a class="nav__element" href="login.html">Войти</a>
            <a class="nav__element" href="register.html">Регистрация</a>
            <a class="nav__element" href="#games">Игры</a>
            <a class="nav__element" href="profile.html">Личный кабинет</a>

        </div>
    </nav>
    <main class="profile">
        <div class="profile-info">
            <div class="profile-info__field">
                <h2 class="profile-info__label">Алексей Смирнов</h2> 
                <p class="profile-info__text">E-mail: alex@example.com</p>
                <p class="profile-info__text">Дата рождения: 14.06.2005</p>
                <p class="profile-info__text">Номер телефона: +7 921 555-24-18</p>
            </div>
        </div>
            <h2 class="previous-pay__label">История покупок</h2> 
        <div class="previous-pay">
            <div class="previous-pay__field">
                <h3 class="previous-pay__label">Neon District</h2> 
                <p class="previous-pay__text">Дата покупки: 18.09.2026</p>
                <p class="previous-pay__text">Стоимость: 1 499 ₽</p>
            </div>

            <div class="previous-pay__field">
                <h3 class="previous-pay__label">Star Colony</h2> 
                <p class="previous-pay__text">Дата покупки: 03.09.2026</p>
                <p class="previous-pay__text">Стоимость: 1 199 ₽</p>
            </div>
            
            <div class="previous-pay__field">
                <h3 class="previous-pay__label">Velocity Rush</h2> 
                <p class="previous-pay__text">Дата покупки: 21.08.2026</p>
                <p class="previous-pay__text">Стоимость: 799 ₽</p>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="footer__container">
            <a class="footer__email">info@lostgs.ru</a>
            <ul class="footer__list">
                <li class="footer__item">О нас</li>
                <li class="footer__item">Контакты</li>
            </ul>
        </div>
    </footer>
</body>
</html>
